<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mr Iolsh</title>
</head>
<body>
<div class="col-sm-7">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="introText">
                <span class="text-uppercase">Mr Iolsh</span>
                <small> has got a problem.</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><span th:text="${status}">Status</span> <span th:text="${error}">Error</span>
                <br/>
                <span th:text="${cause}">Cause</span></p>
        </div>
    </div>
</div>
</body>
</html>