<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mr Iolsh</title>
</head>
<body>
<div class="col-sm-7">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="introText">
                <span class="text-uppercase">Mr Iolsh</span>
                <small> invites to login.</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger" role="alert" th:if="${param.error != null}"><span
                    th:text="#{login.incorrect}"></span></div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-10">
            <div class="panel panel-default panelText">
                <div class="panel-heading">
                    <h3 class="panel-title">Log in</h3>
                </div>
                <div class="panel-body">
                    <form role="form" th:action='@{/login}' method='POST'>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username"
                                           value="" placeholder="username"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-lock"></i></span>
                                    <input id="login-password" type="password" class="form-control"
                                           name="password" placeholder="password"/>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <br/>
                            <input type="checkbox" id="remember-me" name="remember-me"/> Remember me
                        </div>
                        <br/>
                        <input type="submit" value="Login" class="btn btn-info btn-block"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
